# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs
/SCC-AC Bypass/.vs
/SCC-AC Bypass/SCC-AC Bypass/Debug
/SCC-AC Bypass/SCC-AC Bypass/Release
/SCC-AC Bypass/SCC-AC Bypass/x64/Debug/SCC-AC Bypass.tlog
/SCC-AC Bypass/SCC-AC Bypass/x64/Debug
/SCC-AC Bypass/sources
